{% extends 'restaurent_admin/base.html' %}
{% load static %}

{% block content %}
<style>


    .info {
        color: #00529B;
    }

    .success {
        color: #4F8A10;
    }

    .warning {
        color: #9F6000;
    }

    .error {
        color: #D8000C;
    }

    .validation {
        color: #D63301;
    }
    .changePass .form-group .pass {
    position: absolute;
    top: 15px;
    right: 15px;
}
    .changePass .form-group{
    position: relative;
}
</style>
<div class="page-wrapper wrapper_page" style="min-height: 250px;">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="container-fluid fluid_container responsive_container pt-3 white_bg">
        <div class="row">
            <div class="col-lg-12">
                <div class="application-detail-heading-area">
                    <h2 class="noti_detail">Change Password</h2>
                </div>
                <div class="contact-detail-main-area main_area_contact_detail">
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="contact-form-main-area" method="POST" id="paymentFrm"
                                enctype="multipart/form-data" onclick="return myfun()">
                                {% csrf_token %}
                                <div class="row changePass"  >
                                    <div class="col-lg-4 text-center">
                                        <label class="fw-bold" style="margin-top: 6col-lg-6px;">Old Password: </label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control field change_border" required
                                                name="old_password" placeholder="Enter Password" autofocus=""
                                                id="id_password" />
                                            
                                            <i  class=" pass fa fa-eye"  id="togglePassword" ></i>
                                            {% if messages %}
                                            {% for message in messages %}
                                            <p {% if message.tags %} class="{{message.tags}}" {% endif %}>
                                                {{message}}</p>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-lg-4 text-center">
                                        <label class="fw-bold" style="margin-top: 6col-lg-6px;">New Password: </label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control field change_border" required
                                                name="new_password" placeholder="Enter Password" autofocus="" oninput="return msg()"
                                                id="id_password1" />
                                                <i class=" pass fa fa-eye" id="togglePassword1"></i>
                                            <span id="valmessage" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 text-center">
                                        <label class="fw-bold" style="margin-top: 6col-lg-6px;">Confirm Password:
                                        </label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control field change_border" required oninput="return msg1()"
                                                name="confirm_password" placeholder="Enter Password" autofocus=""
                                                id="id_password2" />
                                                <i class="pass fa fa-eye" id="togglePassword2" ></i>
                                            <span id="valmessage1" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="contact-form-submint-btn-area">
                                        <button class="contact-form-submint-btn btn_submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function myfun() {
        var a = document.getElementById("id_password1").value;
        var b = document.getElementById("id_password2").value;
        var pass_way=/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/
        if (!a.match(pass_way)) {
        return false
      }
        if (a != b) {
            return false
        }
    }
</script>

<script>
    function msg1() {
        var a = document.getElementById("id_password1").value;
        var b = document.getElementById("id_password2").value;
        if (a != b) {
            document.getElementById("valmessage1").innerHTML = "**Password did not match"
        }
        else {
            document.getElementById("valmessage1").innerHTML = " ";
        }
    }
</script>


<script>
    function msg() {
        var a = document.getElementById("id_password1").value;
        var pass_way=/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/

        if (!a.match(pass_way)) {
            document.getElementById("valmessage").innerHTML = "**Password must contain at least eight characters one numebr and one alphabet"
        }
        else {
            document.getElementById("valmessage").innerHTML = " ";
        }
    }


</script>
<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#id_password');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
</script>
<script>
    const togglePassword1 = document.querySelector('#togglePassword1');
    const password1 = document.querySelector('#id_password1');

    togglePassword1.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';
        password1.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
</script>
<script>
    const togglePassword2 = document.querySelector('#togglePassword2');
    const password2 = document.querySelector('#id_password2');

    togglePassword2.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
        password2.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
</script>

{% endblock %}