{% extends 'restaurent_admin/base.html' %}
{% load static %}


{% block content %}

<div class="page-wrapper main-page">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb container-fluid responsive_container pe-4">
        <div>
            <h5>Notification</h5>
        </div>
        <div class="header_noti">

            <div class="notidetail">
                <div class="d-flex align-items-center">
                    <div>
                        <span class="capitalletterN">{{initials}}</span>
                    </div>
                    <div>
                        <h5 class="ms-3 mb-0"> {{user.name}} {% if order.order_type == 'dine_takeaway' %} <span style="color: #f41621;"> (To-go)</span>{% else %} <span style="color: #fbbb31;"> (Dine-in)</span>{% if order.table_number %}- {{order.table_number}}{% endif %} {% endif %}</h5>
                    </div>
                </div>
                <div>
                    <p class="mb-0"><b>Order no: {{order.id}}</b></p>
                    {% if order.table_number %}
                    <p class="mb-0"><small><b>Table no: {{order.table_number}}</b></small></p>
                    {% endif %}
                </div>
            </div>
            {% for allorder in order.allorders.all %}
            <hr class="mt-0">
            <div class="notidetail">
                <div class="notidetailitem">
                    <div>
                        <h5>{{allorder.food_id.food_name}}</h5>
                        <div class="d-flex justify-content-between">
                            {% if allorder.spicelevel %}
                            <p>Spice level <span class="mediumspan"> {{allorder.spicelevel}}</span></p>
                            {% endif %}
                            <h5 class="loginclr">{{request.user.currency|default:'$'}} {% if allorder.food_id.discountPrice != 0 %}{{allorder.food_id.discountPrice|floatformat:2}}{% else %}{{allorder.food_id.price|floatformat:2}}{% endif %}</h5>
                        </div>
                    </div>
                    {% if allorder.abcd.all %}
                    <div class="pt-3">
                        <h6>What's included</h6>
                        <div class="d-flex" style="flex-wrap: wrap;">
                            {% for inlcude in allorder.abcd.all %}
                            <p class="mediumspan">{{inlcude.name}}</p>
                            {% endfor %}
                        </div> 
                    </div>
                    {% endif %}
                    {% if allorder.food_instruction %}
                    <div class="orderInstruction">
                        <h6>Order instruction</h6>
                        <p>{{allorder.food_instruction}}</p>
                    </div>
                    {% endif %}
                </div>
                {% for total_all_order in total_all_order %}
                {% if total_all_order.id ==  allorder.id %}
                {% if total_all_order.adon_context %}
                <div class="notidetailitem">
                    <div class="notiitems">
                        <h5>Add-ons</h5>
                        {% for group in total_all_order.group %}
                        <h6>{{group.group_name}}</h6>
                        {% for adon in group.group.all %}
                        {% if adon.id in total_all_order.adon_context %}
                        <p>{{adon.name}} -------------------------------------- {{request.user.currency|default:'$'}} {{adon.price|floatformat:2}}</p>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
            <div class="d-flex py-4">
                <a href="{% url 'receive-notification' %}" type="submit" class="backbutton1">Back</a>
                <a href="{% url 'order_history' %}" type="submit" class="backbutton">Order History</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}