<<<<<<< HEAD
// Wind Variables 2.0

@wind: "\f0b1";

.@{wi-css-prefix}-wind:before { content: @wind; }
.wind-rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
  -moz-transform: rotate(@degrees);
  -ms-transform: rotate(@degrees);
  -o-transform: rotate(@degrees);
  transform: rotate(@degrees);
}

=======
// Wind Variables 2.0

@wind: "\f0b1";

.@{wi-css-prefix}-wind:before { content: @wind; }
.wind-rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
  -moz-transform: rotate(@degrees);
  -ms-transform: rotate(@degrees);
  -o-transform: rotate(@degrees);
  transform: rotate(@degrees);
}

>>>>>>> 02260c6ee7ee76752f9f5bbc7f8c782baecf9140
@import "classes-wind-degrees.less";