<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Menu</title>
</head>

<body>
    <div>
        <h1 ><span style="font-size: 50px;" >{{data.restaurant_name}}</span></h1><br><br><br>
        <img src="http://69.49.235.253:8026/media/{{data.qr_code}}" alt="Image Here" style="height: 7in; width: 20cm; margin-right: 50px;">
    </div>
</body>
</html>